<?xml version="1.0" encoding="utf-8" ?>
<config>
	<CommonConfig>
		<DeviceIP>
			<description>设备IP</description>
			<value>192.168.0.83</value>
		</DeviceIP>
		<DevicePort>
			<description>设备端口</description>
			<value>7777</value>
		</DevicePort>
		<Channel1Port>
			<description>通道1串口号</description>
			<value>/dev/ttyS0</value>
		</Channel1Port>
		<Channel2Port>
			<description>通道2串口号</description>
			<value>/dev/ttyS1</value>
		</Channel2Port>
		<UseCompass>
			<description>是否使用罗盘</description>
			<value>true</value>
		</UseCompass>
		<CompassValue>
			<description>虚拟罗盘值</description>
			<value>0</value>
		</CompassValue>
		<CompassPort>
			<description>罗盘串口号</description>
			<value>/dev/ttyS2</value>
		</CompassPort>
		<GNSSBaudRate>
			<description>GNSS波特率</description>
			<value>115200</value>
		</GNSSBaudRate>
		<CompassBaudRate>
			<description>罗盘波特率</description>
			<value>9600</value>
		</CompassBaudRate>
		<MagneticDeclination>
			<description>罗盘磁偏角</description>
			<value>0</value>
		</MagneticDeclination>
		<InstallError>
			<description>罗盘安装偏差</description>
			<value>0</value>
		</InstallError>
		<SampleTime>
			<description>每刀采样时间（ms）</description>
			<value>10000</value>
		</SampleTime>
		<DataInterval>
			<description>板卡反数间隔（s）</description>
			<value>1</value>
		</DataInterval>
		<IsSaveAlgorithmData>
			<description>是否保存算法输入数据</description>
			<value>false</value>
		</IsSaveAlgorithmData>
		<IsSaveSerialData>
			<description>是否保存串口数据</description>
			<value>true</value>
		</IsSaveSerialData>
		<Amplifier>
			<description>放大器,0:技术预研开关 1:一级放大 2:二级放大</description>
			<value>2</value>
		</Amplifier>
		<AntCode0>
			<description>技术预研开关天线码</description>
			<value>0x08,0x04,0x0C,0x0A,0x02</value>
		</AntCode0>
		<AntCode1>
			<description>一级放大天线码</description>
			<value>0x00,0x08,0x04,0x0C,0x02</value>
		</AntCode1>
		<AntCode2>
			<description>二级放大天线码</description>
			<value>0x0A,0x06,0x0E,0x01,0x09</value>
		</AntCode2>
		<!--<NoAlarmNum>
			<description>无告警次数，超过该次数关闭各卫星通道重新捕获卫星</description>
			<value>5</value>
		</NoAlarmNum>-->
		<StationId>
			<description>站点编号</description>
			<value>BJDH001G0</value>
		</StationId>
		<RemoteIp>
			<description>远端IP</description>
			<value>192.168.0.198</value>
		</RemoteIp>
		<RemoteUser>
			<description>远端账号</description>
			<value>hr</value>
		</RemoteUser>
		<RemotePwd>
			<description>远端密码</description>
			<value>123456</value>
		</RemotePwd>
		<DataPath>
			<description>文件路径</description>
			<value>/home/hr/HRDATA/{StationId}/{yyyy}/{ddd}/UPLOAD/BT</value>
		</DataPath>
		<DelayTime>
			<description>前后延长时间</description>
			<value>30</value>
		</DelayTime>
		<Threshold>
			<description>干扰判断门限，几颗卫星异常算是干扰</description>
			<value>4</value>
		</Threshold>
		<SpecialThreshold>
			<description>特殊频点干扰判断门限，几颗卫星异常算是干扰</description>
			<value>GLONASS:G1:2,GLONASS:G2:2,GLONASS:G2P:2,Galileo:E5b_Q:2</value>
		</SpecialThreshold>
	</CommonConfig>
</config>